body {
    /* background-image: url(../public/stelprd3833704.jpg);
    background-repeat: no-repeat;
    background-size: cover; */
    background-color: #715AFF;
}

#nav {
    background-color: #020300;
    height: 42px;
    width: 100%;
    max-width: 100%;
    align-items: center;
    justify-content: center;
}
#footb {
    padding: 25px;
    margin: 25px;
    max-width: 100%;
}

#footer {
    background-color: #020300;
    height: auto;
    width: 25%;
    margin-left: 37%;
    /* align-items: center;
    justify-content: center; */
    border-radius: 20%;
    justify-items: center;
    max-width: 100%;
}

#nav-button {
    Font-family: Tahoma, Verdana, Segoe, sans-serif;
    color: aliceblue;
    background-color: #715AFF;
    border: 5%;
    max-width: 100%;
}

#resume {
    margin-top: 5%;
    padding: 10px;
    max-width: 100%;
}

#reshead {
    Font-family: Tahoma, Verdana, Segoe, sans-serif;
    color: #FFFBDB;
    width: 75%;
    text-align: center;
    border-radius: 10px;
    flex-wrap: wrap;
    overflow-wrap: break-word;
    margin: auto;
    padding: 10px;
    font-weight: bold;
    border-color: #020300;
    border-style: groove;
    max-width: 100%;
}

#about {
    width: 85%;
    height: 60%;
    justify-content: center;
    /* background-color: lightgrey; */
    Font-family: Tahoma, Verdana, Segoe, sans-serif;
    color: #FFFBDB;
    text-align: center;
    border-radius: 10px;
    flex-wrap: wrap;
    overflow-wrap: break-word;
    margin: auto;
    margin-top: 5%;
    padding: 10px;
    font-weight: bold;
    max-width: 100%;
}

#work {
    Font-family: Tahoma, Verdana, Segoe, sans-serif;
    color: #FFFBDB;
    font-weight: bold;
    border-color: #020300;
    border-style: groove;
    width: 1200px;
    padding: 25px;
    border-radius: 10px;
    max-width: 100%;
}

#containab {
    width: 50%;
    margin-left: 20%;
    max-width: 100%;
}

#containac {
    width: 50%;
    margin-left: 25%;
    max-width: 100%;
} 

#abp {
    width: 83%;
    margin-left: 5%;
    max-width: 100%;
}
#abz {
    width: 59%;
    margin-left: 20%;
    max-width: 100%;
}

#intro {
    font-size: 45pt;
    max-width: 100%;
}

#amazon {
    background-image: url(/src/components/amazon.png);
    background-size: 60%;
    background-repeat: no-repeat;
    width: 300px;
    height: 182px;
    max-width: 100%;
}

#nm {
    background-image: url(/src/components/nm.png);
    background-size: 80%;
    background-repeat: no-repeat;
    max-width: 80%;
    height: 100px;
}

#csu {
    background-image: url(/src/components/CSUFC.png);
    background-size: cover;
    width: 300px;
    height: 300px;
    max-width: 100%;
}

#ud {
    background-image: url(/src/components/UD.png);
    background-size: 80%;
    background-repeat: no-repeat;
    width: 600px;
    height: 200px;
    max-width: 100%;
}


#ryan {
    background-image: url(/src/components/canvas\ profile\ pic.jpg);
    background-size: cover;
    width: 300px;
    height: 300px;
    max-width: 100%;
    justify-content: center;
    border-radius: 10px;
    margin-left: 40%;
    border-radius: 50%;
}

#title {
    font-size: x-large;
    font-weight: 900;
    font-style: oblique;
    color: #FFFBDB;
    max-width: 100%;
}

#portfolio {
    width: 85%;
    height: 60%;
    justify-content: space-around;
    background-color: #FFFBDB;
    text-align: center;
    border-radius: 10px;
    flex-wrap: wrap;
    overflow-wrap: break-word;
    margin: auto;
    margin-top: 5%;
    padding: 10px;
    font-weight: bold;
    max-width: 100%;
}

#contact {
    width: 85%;
    height: 60%;
    justify-content: center;
    background-color: lightgrey;
    text-align: center;
    border-radius: 10px;
    flex-wrap: wrap;
    overflow-wrap: break-word;
    margin: auto;
    margin-top: 5%;
    padding: 10px;
    font-weight: bold;
    max-width: 100%;
}

#project-card {
    background-color: #020300;
    Font-family: Tahoma, Verdana, Segoe, sans-serif;
    color: aliceblue;
    max-width: 100%;
}

